body {
  background-image: radial-gradient(#dae3f2, #b3c6e6);
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 1,5;
  font-size: 25px;
  margin: 0;
  padding: 0; }

/*header*/
.header__logo {
  padding: 40px 0px 20px 0px;
  text-align: center;
  background-image: radial-gradient(#dae3f2 50%, #b3c6e6); }
  .header__logo--sub h3 {
    font-family: "Baloo Bhaina 2", cursive;
    font-size: 27px;
    padding-top: 2px; }

.navbar {
  padding: 15px 0px; }

.navbar-brand {
  font-size: 28px; }

.navbar-brand-desaparecer {
  display: none; }

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .navbar-nav li a {
    color: #fff;
    font-size: 25px; }
    .navbar-nav li a:hover {
      color: lightblue;
      text-decoration: underline; }

/*Contenido index.html*/
.titulo__principal {
  font-family: "Baloo Bhaina 2", cursive;
  margin: 50px 0px 40px 0px;
  text-align: center; }
  .titulo__principal h1 {
    font-size: 70px;
    color: black; }

.titulo__principal--animacion {
  animation-duration: 3s;
  animation-name: titulo; }

@keyframes titulo {
  0% {
    opacity: 0; }
  50% {
    opacity: .7; }
  100% {
    opacity: 1; } }

.container__row--ubicacion {
  padding-top: 80px; }

.titulo__seccion {
  margin: 50px 0px 50px 0px;
  text-align: center; }
  .titulo__seccion h2 {
    font-family: "Baloo Bhaina 2", cursive;
    font-size: 55px; }

.container__productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 1px 1px 5px;
  padding: 50px 0px; }
  .container__productos .container__productos--texto {
    text-align: center;
    margin-top: 20px;
    font-size: 30px; }
  .container__productos .container__productos--imagen {
    border-style: double;
    padding: 5px; }

.container__articulo {
  box-shadow: 1px 1px 5px #000;
  padding: 15px;
  margin: 20px 0px; }
  .container__articulo .container__articulo__texto {
    text-align: center; }
    .container__articulo .container__articulo__texto #links {
      text-decoration: none;
      color: black; }
  .container__articulo .container__articulo__carousel {
    margin-bottom: 30px; }

/*Contenido conocenos.html*/
.container__intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 1px 1px 5px; }
  .container__intro--texto {
    margin: 15px auto; }
  .container__intro--imagen {
    margin: 15px auto; }
    .container__intro--imagen img {
      border: double 1px #000;
      padding: 5px; }

.infografia {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  padding: 20px;
  margin-top: 40px;
  box-shadow: 1px 1px 5px;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .infografia h3 {
    font-family: "Baloo Bhaina 2", cursive;
    font-size: 40px; }
  .infografia--listas {
    list-style-type: none; }

/*Contenido productos.html*/
.box__productos {
  display: flex;
  flex-direction: column; }
  .box__productos__fundas {
    display: grid;
    grid-template-columns: 60% 40%; }
  .box__productos__chapas {
    display: grid;
    grid-template-columns: 40% 60%; }
  .box__productos__popsockets {
    display: grid;
    grid-template-columns: 60% 40%; }

.box__productos__fundas {
  box-shadow: 1px 1px 5px;
  padding: 15px;
  background-color: #427ddb; }

.box__productos__chapas {
  box-shadow: 1px 1px 5px;
  padding: 15px;
  background-color: #427ddb; }

.box__productos__popsockets {
  box-shadow: 1px 1px 5px;
  padding: 15px;
  background-color: #427ddb; }

.box__productos__fundas--texto {
  align-self: center; }

.box__productos__chapas--texto {
  align-self: center; }

.box__productos__popsockets--texto {
  align-self: center; }

.box__productos__fundas--imagen img {
  border: double 1px #000;
  padding: 4px; }

.box__productos__chapas--imagen img {
  border: double 1px #000;
  padding: 4px; }

.box__productos__popsockets--imagen img {
  border: double 1px #000;
  padding: 4px; }

/*galeria.html*/
.contenedor h3 {
  margin: 30px 0px 30px 0px;
  padding: 8px;
  text-align: center;
  background: rgba(56, 102, 181, 0.5); }

.contenedor__set--imagen, .contenedor__dobleset--imagen {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .contenedor__set--imagen img, .contenedor__dobleset--imagen img {
    height: 250px;
    width: 250px;
    padding: 10px;
    border-style: double;
    transition: 2s; }
    .contenedor__set--imagen img:hover, .contenedor__dobleset--imagen img:hover {
      height: 350px;
      width: 350px; }

.contenedor__dobleset {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row-gap: 50px; }

.contenedor__tipografia {
  text-align: center;
  margin-bottom: 40px; }
  .contenedor__tipografia img {
    height: 350px;
    width: 250px;
    transition: 2s; }
    .contenedor__tipografia img:hover {
      height: 450px;
      width: 350px; }

/*contacto.html*/
.box__contacto {
  display: grid; }
  .box__contacto__redes {
    text-align: center; }
    .box__contacto__redes--iconos {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 40px 100px; }
      .box__contacto__redes--iconos li {
        list-style: none; }
        .box__contacto__redes--iconos li a {
          color: black;
          text-decoration: none; }

.box__formulario {
  margin: 30px auto;
  box-shadow: 1px 1px 7px #000; }
  .box__formulario .input-group--texto {
    font-size: 20px;
    padding: 5px;
    border: 1px inset #000;
    /*background: rgb(184, 179, 179);*/
    background: #dae3f2; }
  .box__formulario .form-select {
    transform: scale(1, 0.8);
    background: #dae3f2; }
  .box__formulario .form-control {
    border: 2px outset #2525b4;
    background-color: #dae3f2; }

/*Footer*/
.bloque__footer {
  background-image: linear-gradient(to right, #427ddb, #000);
  color: white; }
  .bloque__footer .bloque__footer--titulo h2 {
    font-size: 45px; }
  .bloque__footer .bloque__footer--lista ul li a {
    color: white;
    font-size: 25px; }
  .bloque__footer .bloque__footer--lista ul li button {
    color: white;
    font-size: 25px; }
  .bloque__footer .bloque__footer--lista ul li button:hover {
    text-decoration: none; }
  .bloque__footer .modal-header {
    background-image: linear-gradient(to right, #427ddb, #000); }
    .bloque__footer .modal-header .modal-header--titulo {
      color: #fff;
      font-size: 40px; }
  .bloque__footer .modal-body {
    background-image: radial-gradient(#dae3f2, #b3c6e6);
    color: #000;
    font-size: 18px; }
    .bloque__footer .modal-body .card {
      background-image: radial-gradient(#dae3f2, #b3c6e6); }
      .bloque__footer .modal-body .card button {
        color: #000;
        font-size: 20px; }
  .bloque__footer .modal-footer {
    background-image: linear-gradient(to right, #427ddb, #000); }
    .bloque__footer .modal-footer button {
      font-size: 20px; }

@media (max-width: 767px) {
  .navbar-brand-aparecer {
    display: contents; }
  .titulo__principal h1 {
    font-size: 68px; }
  .container__row--ubicacion {
    padding-top: 0px;
    text-align: center; }
  .box__productos__fundas {
    display: flex;
    flex-direction: column;
    align-content: space-around; }
  .box__productos__chapas {
    display: flex;
    flex-direction: column;
    align-content: space-around; }
  .box__productos__popsockets {
    display: flex;
    flex-direction: column;
    align-content: space-around; }
  .box__productos__chapas {
    display: flex;
    flex-direction: column-reverse; }
  .contenedor__set--imagen, .contenedor__dobleset--imagen {
    margin-right: 20px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center; }
    .contenedor__set--imagen img:hover, .contenedor__dobleset--imagen img:hover {
      height: 278px;
      width: 278px; }
  .bloque__footer .modal-body {
    font-size: 15px; }
    .bloque__footer .modal-body .card button {
      font-size: 18px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .container__row--ubicacion {
    padding-top: 15px;
    text-align: left; }
  .container__row--imagen img {
    height: 350px;
    width: 350px;
    padding-top: 15px; }
  .contenedor__set--imagen, .contenedor__dobleset--imagen {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center; } }
