@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px; }

/*header*/
.enlace_seccionInteractiva {
  background-color: #5b8109;
  top: 0px;
  right: 0px;
  position: fixed;
  border-radius: 60%;
  padding: 20px;
  margin: 10px; }
  .enlace_seccionInteractiva a {
    font-size: 24px;
    color: #fff; }

.header__logo {
  background-image: radial-gradient(circle at 45px 45px, #a3ce43 0%, rgba(0, 0, 255, 0) 50%, #8cb929 95%);
  padding: 40px 0px 20px 0px;
  text-align: center; }
  .header__logo--sub h3 {
    font-family: "Baloo Bhaina 2", cursive;
    color: #000;
    font-size: 27px;
    padding-top: 2px; }

.navbar {
  padding: 15px 0px; }

.navbar-brand {
  font-size: 28px; }

.navbar-brand-desaparecer {
  display: none; }

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .navbar-nav li a {
    color: #fff;
    font-size: 25px; }
    .navbar-nav li a:hover {
      color: #a3ce43;
      text-decoration: underline; }

/*Contenido index.html*/
.seccion__introduccion {
  background-color: #fff;
  padding-bottom: 50px; }
  .seccion__introduccion .titulo__principal {
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: "Baloo Bhaina 2", cursive;
    text-align: center; }
    .seccion__introduccion .titulo__principal span {
      float: right; }
    .seccion__introduccion .titulo__principal h1 {
      font-size: 70px;
      color: black; }
  .seccion__introduccion .titulo__principal--animacion {
    animation-duration: 3s;
    animation-name: titulo; }

@keyframes titulo {
  0% {
    opacity: 0; }
  50% {
    opacity: .7; }
  100% {
    opacity: 1; } }
  .seccion__introduccion .introduccion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0px 40px; }
    .seccion__introduccion .introduccion .introduccion--texto {
      padding: 50px;
      text-align: center;
      align-self: center;
      box-shadow: 2px 2px 8px;
      background-color: #8cb929; }
    .seccion__introduccion .introduccion .introduccion--imagen {
      box-shadow: 2px 2px 8px; }
      .seccion__introduccion .introduccion .introduccion--imagen img {
        height: 350px;
        width: 350px; }

.seccion__productos {
  background-color: #a3ce43; }
  .seccion__productos .titulo__seccion {
    padding-top: 40px;
    text-align: center; }
    .seccion__productos .titulo__seccion h2 {
      font-family: "Baloo Bhaina 2", cursive;
      font-size: 55px; }
  .seccion__productos .container__productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0px; }
    .seccion__productos .container__productos .container__productos--box {
      background-color: #fff;
      box-shadow: 2px 2px 8px; }
      .seccion__productos .container__productos .container__productos--box .container__productos--texto {
        text-align: center;
        font-size: 30px;
        padding-bottom: 20px; }
      .seccion__productos .container__productos .container__productos--box .container__productos--imagen {
        padding: 20px; }

.seccion__articulo {
  background-color: #fff;
  padding: 50px 0px; }
  .seccion__articulo .titulo__seccion {
    padding-top: 20px;
    text-align: center; }
    .seccion__articulo .titulo__seccion h2 {
      font-family: "Baloo Bhaina 2", cursive;
      font-size: 55px; }
  .seccion__articulo .container__articulo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    margin-top: 20px; }
    .seccion__articulo .container__articulo .container__articulo__texto {
      padding: 15px;
      font-size: 22px;
      align-self: center;
      text-align: center;
      box-shadow: 2px 2px 8px;
      background-color: #8cb929; }
      .seccion__articulo .container__articulo .container__articulo__texto #links {
        text-decoration: none;
        color: black; }
    .seccion__articulo .container__articulo .container__articulo__carousel {
      margin-bottom: 30px;
      padding: 0; }
      .seccion__articulo .container__articulo .container__articulo__carousel .carousel-inner {
        box-shadow: 2px 2px 8px;
        background-color: #fff; }
        .seccion__articulo .container__articulo .container__articulo__carousel .carousel-inner .carousel-item img {
          height: 400px;
          width: 400px; }

/*Contenido conocenos.html*/
.seccion__introduccion .container__intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 0px 40px; }
  .seccion__introduccion .container__intro--texto {
    text-align: center;
    align-self: center;
    box-shadow: 2px 2px 8px;
    background-color: #8cb929; }
  .seccion__introduccion .container__intro--imagen {
    box-shadow: 2px 2px 8px; }
    .seccion__introduccion .container__intro--imagen img {
      height: 350px;
      width: 350px; }

.seccion__infografia {
  background-color: #a3ce43; }
  .seccion__infografia .titulo__seccion {
    padding-top: 30px;
    text-align: center; }
    .seccion__infografia .titulo__seccion h2 {
      font-family: "Baloo Bhaina 2", cursive;
      font-size: 55px; }
  .seccion__infografia .infografia {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    justify-content: center; }
    .seccion__infografia .infografia__item {
      background-color: #fff;
      box-shadow: 2px 2px 8px;
      padding: 20px; }
      .seccion__infografia .infografia__item h3 {
        font-family: "Baloo Bhaina 2", cursive;
        font-size: 40px; }
      .seccion__infografia .infografia__item--listas {
        list-style-type: none; }

/*Contenido productos.html*/
.titulo__principal {
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: "Baloo Bhaina 2", cursive;
  text-align: center; }
  .titulo__principal h1 {
    font-size: 70px;
    color: black; }

.titulo__principal--animacion {
  animation-duration: 3s;
  animation-name: titulo; }

@keyframes titulo {
  0% {
    opacity: 0; }
  50% {
    opacity: .7; }
  100% {
    opacity: 1; } }

.box__productos {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 20px; }
  .box__productos .titulo__seccion {
    margin: 30px 0px;
    padding-top: 10px;
    text-align: center; }
    .box__productos .titulo__seccion h2 {
      font-family: "Baloo Bhaina 2", cursive;
      font-size: 55px; }
  .box__productos__fundas {
    display: grid;
    grid-template-columns: 60% 40%; }
  .box__productos__chapas {
    display: grid;
    grid-template-columns: 40% 60%; }
  .box__productos__popsockets {
    display: grid;
    grid-template-columns: 60% 40%; }

.box__productos__fundas {
  background-color: #a3ce43;
  box-shadow: 2px 2px 8px;
  padding: 15px;
  justify-items: center; }

.box__productos__chapas {
  background-color: #a3ce43;
  box-shadow: 2px 2px 8px;
  padding: 15px;
  justify-items: center; }

.box__productos__popsockets {
  background-color: #a3ce43;
  box-shadow: 2px 2px 8px;
  padding: 15px;
  justify-items: center; }

.box__productos__fundas--texto {
  align-self: center; }
  .box__productos__fundas--texto .viñetas {
    text-align: left; }

.box__productos__chapas--texto {
  align-self: center; }
  .box__productos__chapas--texto .viñetas {
    text-align: left; }

.box__productos__popsockets--texto {
  align-self: center; }
  .box__productos__popsockets--texto .viñetas {
    text-align: left; }

.box__productos__fundas--imagen {
  box-shadow: 2px 2px 8px; }

.box__productos__chapas--imagen {
  box-shadow: 2px 2px 8px; }

.box__productos__popsockets--imagen {
  box-shadow: 2px 2px 8px; }

/*galeria.html*/
.contenedor__fundas {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px repeat(3, 1fr);
  padding: 0px 40px;
  margin-bottom: 30px; }
  .contenedor__fundas .titulo__seccion {
    padding-top: 30px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3; }
    .contenedor__fundas .titulo__seccion h2 {
      font-family: "Baloo Bhaina 2", cursive;
      font-size: 55px; }
  .contenedor__fundas .cactus {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    justify-items: center;
    box-shadow: 2px 2px 8px;
    padding: 20px;
    background-color: #a3ce43; }
    .contenedor__fundas .cactus h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      grid-column-start: 1;
      grid-column-end: 3; }
    .contenedor__fundas .cactus img {
      height: 250px;
      width: 250px;
      padding: 5px;
      background-color: #fff;
      box-shadow: 1px 1px 4px; }
      .contenedor__fundas .cactus img:hover {
        box-shadow: 3px 3px 10px; }
  .contenedor__fundas .flores {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    justify-items: center;
    box-shadow: 2px 2px 8px;
    padding: 20px;
    background-color: #a3ce43; }
    .contenedor__fundas .flores h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      grid-column-start: 1;
      grid-column-end: 3; }
    .contenedor__fundas .flores img {
      height: 250px;
      width: 250px;
      padding: 5px;
      background-color: #fff;
      box-shadow: 1px 1px 4px; }
      .contenedor__fundas .flores img:hover {
        box-shadow: 3px 3px 10px; }
  .contenedor__fundas .rock {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    justify-items: center;
    box-shadow: 2px 2px 8px;
    padding: 20px;
    background-color: #a3ce43; }
    .contenedor__fundas .rock h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      grid-column-start: 1;
      grid-column-end: 3; }
    .contenedor__fundas .rock img {
      height: 250px;
      width: 250px;
      padding: 5px;
      background-color: #fff;
      box-shadow: 1px 1px 4px; }
      .contenedor__fundas .rock img:hover {
        box-shadow: 3px 3px 10px; }
  .contenedor__fundas .marmol {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    justify-items: center;
    box-shadow: 2px 2px 8px;
    padding: 20px;
    background-color: #a3ce43; }
    .contenedor__fundas .marmol h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      grid-column-start: 1;
      grid-column-end: 3; }
    .contenedor__fundas .marmol img {
      height: 250px;
      width: 250px;
      padding: 5px;
      background-color: #fff;
      box-shadow: 1px 1px 4px; }
      .contenedor__fundas .marmol img:hover {
        box-shadow: 3px 3px 10px; }
  .contenedor__fundas .variado {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    justify-items: center;
    box-shadow: 2px 2px 8px;
    padding: 20px;
    background-color: #a3ce43; }
    .contenedor__fundas .variado h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      grid-column-start: 1;
      grid-column-end: 3; }
    .contenedor__fundas .variado img {
      height: 250px;
      width: 250px;
      padding: 5px;
      background-color: #fff;
      box-shadow: 1px 1px 4px; }
      .contenedor__fundas .variado img:hover {
        box-shadow: 3px 3px 10px; }

.contenedor__chapas {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  padding: 0px 30px;
  margin-bottom: 30px; }
  .contenedor__chapas .titulo__seccion {
    padding-top: 30px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3; }
    .contenedor__chapas .titulo__seccion h2 {
      font-family: "Baloo Bhaina 2", cursive;
      font-size: 55px; }
  .contenedor__chapas .plantillas {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    justify-items: center;
    box-shadow: 2px 2px 8px;
    padding: 20px;
    background-color: #a3ce43; }
    .contenedor__chapas .plantillas h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      grid-column-start: 1;
      grid-column-end: 3; }
    .contenedor__chapas .plantillas img {
      height: 250px;
      width: 250px;
      padding: 5px;
      background-color: #fff;
      box-shadow: 1px 1px 4px; }
      .contenedor__chapas .plantillas img:hover {
        box-shadow: 3px 3px 10px; }

/*contacto.html*/
.seccion__contacto {
  background-color: #fff; }
  .seccion__contacto .box__contacto__redes {
    text-align: center; }
    .seccion__contacto .box__contacto__redes--iconos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      justify-content: center; }
      .seccion__contacto .box__contacto__redes--iconos li {
        list-style: none; }
        .seccion__contacto .box__contacto__redes--iconos li a {
          color: black;
          text-decoration: none; }

.formulario__801 {
  background-color: #fff;
  padding: 30px 0px; }
  .formulario__801 .box__formulario {
    margin: 0px auto;
    box-shadow: 1px 1px 7px #000;
    background-color: #a3ce43; }
    .formulario__801 .box__formulario .input-group--texto {
      font-size: 20px;
      padding: 5px;
      border: 1px inset #8cb929;
      background: #fff; }
    .formulario__801 .box__formulario .form-select {
      transform: scale(1, 0.8);
      background: #fff; }
    .formulario__801 .box__formulario .form-control {
      font-size: 20px;
      padding: 5px;
      border: 1px inset #8cb929;
      background-color: #fff; }
      .formulario__801 .box__formulario .form-control:hover {
        box-shadow: 2px 2px 8px; }

.formulario__chico {
  margin: 20px auto;
  box-shadow: 1px 1px 3px;
  background-color: #a3ce43; }
  .formulario__chico label {
    font-size: 23px; }
  .formulario__chico input, .formulario__chico textarea, .formulario__chico option {
    font-size: 21px; }
  .formulario__chico select {
    padding: 0px 3px; }

/*javaScript*/
.titulo__seccion {
  margin: 30px 0px;
  padding-top: 10px;
  text-align: center; }
  .titulo__seccion h2 {
    font-family: "Baloo Bhaina 2", cursive;
    font-size: 55px; }

.mostrarProductos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 15px; }
  .mostrarProductos .mostrarFundas {
    background-color: #a3ce43;
    padding: 15px;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat(9, auto);
    grid-gap: 15px;
    justify-content: center; }
    .mostrarProductos .mostrarFundas h3 {
      text-align: center;
      font-size: 35px; }
    .mostrarProductos .mostrarFundas label {
      text-align: center;
      font-size: 30px; }
    .mostrarProductos .mostrarFundas .dropdown {
      padding: 2px;
      font-size: 28px; }
      .mostrarProductos .mostrarFundas .dropdown button {
        width: 100%; }
  .mostrarProductos .mostrarChapas {
    background-color: #a3ce43;
    padding: 15px;
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat(9, auto);
    grid-gap: 15px;
    justify-content: center; }
    .mostrarProductos .mostrarChapas h3 {
      text-align: center;
      font-size: 35px; }
    .mostrarProductos .mostrarChapas label {
      text-align: center;
      font-size: 30px; }
    .mostrarProductos .mostrarChapas .dropdown {
      padding: 2px;
      font-size: 28px; }
      .mostrarProductos .mostrarChapas .dropdown button {
        width: 100%; }
      .mostrarProductos .mostrarChapas .dropdown img {
        height: 50px;
        width: 60px;
        margin-right: 15px; }

#pasoUno {
  margin: 40px;
  text-align: center; }
  #pasoUno input {
    padding: 0px 10px; }

.box_carrito {
  width: 300px;
  margin: 20px auto;
  text-align: center; }
  .box_carrito .btn-modal {
    background-color: #a3ce43;
    padding: 15px; }

.msjPopsocket p {
  text-align: center; }

/*Footer*/
.bloque__footer {
  color: white; }
  .bloque__footer .bloque__footer--titulo h2 {
    font-size: 45px; }
  .bloque__footer .bloque__footer--lista ul li a {
    color: white;
    font-size: 25px; }
  .bloque__footer .bloque__footer--lista ul li button {
    color: white;
    font-size: 25px; }
  .bloque__footer .bloque__footer--lista ul li button:hover {
    text-decoration: none; }
  .bloque__footer .modal-header {
    background-color: #000; }
    .bloque__footer .modal-header .modal-header--titulo {
      color: #fff;
      font-size: 40px; }
  .bloque__footer .modal-body {
    background-color: #fff;
    color: #000;
    font-size: 18px; }
    .bloque__footer .modal-body .card {
      background-color: #a3ce43; }
      .bloque__footer .modal-body .card button {
        background-color: #8cb929;
        color: #000;
        font-size: 20px; }
  .bloque__footer .modal-footer {
    background-color: #000; }
    .bloque__footer .modal-footer button {
      font-size: 20px; }

@media screen and (max-width: 575px) {
  /*Header*/
  .navbar-brand-aparecer {
    display: contents; }
  .navbar-nav {
    align-items: center; }
  .header__logo img {
    height: 160px; }
  .header__logo h3 {
    font-size: 20px; }
  /*General*/
  body {
    font-size: 20px; }
  /*index.html*/
  .seccion__introduccion .titulo__principal {
    margin-bottom: 0px; }
    .seccion__introduccion .titulo__principal h1 {
      font-size: 42px; }
  .seccion__introduccion .introduccion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding: 0; }
    .seccion__introduccion .introduccion .introduccion--texto {
      padding: 20px; }
    .seccion__introduccion .introduccion .introduccion--imagen img {
      height: 300px;
      width: 300px; }
  .seccion__productos {
    padding-bottom: 20px; }
    .seccion__productos .titulo__seccion {
      margin-bottom: 40px; }
      .seccion__productos .titulo__seccion h2 {
        font-size: 35px; }
    .seccion__productos .container__productos {
      box-shadow: none;
      padding: 0px; }
      .seccion__productos .container__productos .container__productos--box {
        box-shadow: 1px 1px 3px;
        padding: 10px;
        margin: 5px; }
        .seccion__productos .container__productos .container__productos--box .container__productos--imagen img {
          height: 300px;
          width: 300px; }
  .seccion__articulo .titulo__seccion {
    margin-bottom: 50px; }
    .seccion__articulo .titulo__seccion h2 {
      font-size: 35px; }
  .seccion__articulo .container__articulo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    background-color: #8cb929; }
    .seccion__articulo .container__articulo .container__articulo__texto {
      box-shadow: none; }
    .seccion__articulo .container__articulo .container__articulo__carousel {
      width: 300px; }
      .seccion__articulo .container__articulo .container__articulo__carousel .carousel-inner .carousel-item img {
        height: 300px; }
  /*conocenos.html*/
  .seccion__introduccion .container__intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    padding: 0px 20px; }
    .seccion__introduccion .container__intro--imagen img {
      height: 300px;
      width: 300px; }
  .seccion__infografia {
    padding-bottom: 20px; }
    .seccion__infografia .titulo__seccion {
      padding-bottom: 20px; }
      .seccion__infografia .titulo__seccion h2 {
        font-size: 35px; }
    .seccion__infografia .infografia {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr repeat(3, auto);
      grid-gap: 10px;
      padding: 0px 10px;
      margin-top: 0px; }
      .seccion__infografia .infografia .infografia__item {
        padding: 20px 10px; }
        .seccion__infografia .infografia .infografia__item h3 {
          font-size: 28px; }
        .seccion__infografia .infografia .infografia__item p {
          font-size: 22px; }
  /*productos*/
  .titulo__principal {
    margin-bottom: 0px; }
    .titulo__principal h1 {
      font-size: 42px; }
  .box__productos .titulo__seccion {
    margin: 10px 0px;
    padding-top: 0; }
    .box__productos .titulo__seccion h2 {
      font-size: 35px; }
  .box__productos__fundas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-content: center;
    margin-bottom: 20px; }
    .box__productos__fundas .box__productos__fundas--texto {
      text-align: center; }
    .box__productos__fundas .box__productos__fundas--imagen {
      justify-content: center; }
      .box__productos__fundas .box__productos__fundas--imagen img {
        height: 250px;
        width: 250px; }
    .box__productos__fundas .box__productos__chapas--texto {
      grid-row-start: 1;
      grid-row-end: 2; }
  .box__productos__chapas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-content: center;
    margin-bottom: 20px; }
    .box__productos__chapas .box__productos__chapas--texto {
      text-align: center; }
    .box__productos__chapas .box__productos__chapas--imagen {
      justify-content: center; }
      .box__productos__chapas .box__productos__chapas--imagen img {
        height: 250px;
        width: 250px; }
    .box__productos__chapas .box__productos__chapas--texto {
      grid-row-start: 1;
      grid-row-end: 2; }
  .box__productos__popsockets {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-content: center;
    margin-bottom: 20px; }
    .box__productos__popsockets .box__productos__popsockets--texto {
      text-align: center; }
    .box__productos__popsockets .box__productos__popsockets--imagen {
      justify-content: center; }
      .box__productos__popsockets .box__productos__popsockets--imagen img {
        height: 250px;
        width: 250px; }
    .box__productos__popsockets .box__productos__chapas--texto {
      grid-row-start: 1;
      grid-row-end: 2; }
  /*galeria*/
  .contenedor__fundas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 1fr);
    grid-gap: 10px;
    padding: 0px 20px; }
    .contenedor__fundas .titulo__seccion {
      padding-top: 10px;
      grid-column-start: 1;
      grid-column-end: 2; }
      .contenedor__fundas .titulo__seccion h2 {
        font-size: 35px; }
    .contenedor__fundas .cactus {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(4, 1fr);
      justify-items: center;
      box-shadow: 1px 1px 4px;
      padding: 10px; }
      .contenedor__fundas .cactus h3 {
        margin: 10px 0px 30px 0px;
        padding: 8px;
        text-align: center;
        font-size: 35px;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 28px; }
      .contenedor__fundas .cactus img {
        height: 250px;
        width: 250px;
        padding: 3px; }
    .contenedor__fundas .flores {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(4, 1fr);
      justify-items: center;
      box-shadow: 1px 1px 4px;
      padding: 10px; }
      .contenedor__fundas .flores h3 {
        margin: 10px 0px 30px 0px;
        padding: 8px;
        text-align: center;
        font-size: 35px;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 28px; }
      .contenedor__fundas .flores img {
        height: 250px;
        width: 250px;
        padding: 3px; }
    .contenedor__fundas .rock {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(4, 1fr);
      justify-items: center;
      box-shadow: 1px 1px 4px;
      padding: 10px; }
      .contenedor__fundas .rock h3 {
        margin: 10px 0px 30px 0px;
        padding: 8px;
        text-align: center;
        font-size: 35px;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 28px; }
      .contenedor__fundas .rock img {
        height: 250px;
        width: 250px;
        padding: 3px; }
    .contenedor__fundas .marmol {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(4, 1fr);
      justify-items: center;
      box-shadow: 1px 1px 4px;
      padding: 10px; }
      .contenedor__fundas .marmol h3 {
        margin: 10px 0px 30px 0px;
        padding: 8px;
        text-align: center;
        font-size: 35px;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 28px; }
      .contenedor__fundas .marmol img {
        height: 250px;
        width: 250px;
        padding: 3px; }
    .contenedor__fundas .variado {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(4, 1fr);
      justify-items: center;
      box-shadow: 1px 1px 4px;
      padding: 10px; }
      .contenedor__fundas .variado h3 {
        margin: 10px 0px 30px 0px;
        padding: 8px;
        text-align: center;
        font-size: 35px;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 28px; }
      .contenedor__fundas .variado img {
        height: 250px;
        width: 250px;
        padding: 3px; }
  .contenedor__chapas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(2, 1fr);
    grid-gap: 10px;
    padding: 0px 20px; }
    .contenedor__chapas .titulo__seccion {
      padding-top: 10px;
      grid-column-start: 1;
      grid-column-end: 2; }
      .contenedor__chapas .titulo__seccion h2 {
        font-size: 35px; }
    .contenedor__chapas .plantillas {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(4, 1fr);
      justify-items: center;
      box-shadow: 1px 1px 4px;
      padding: 10px; }
      .contenedor__chapas .plantillas h3 {
        margin: 10px 0px 30px 0px;
        padding: 8px;
        text-align: center;
        font-size: 35px;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 28px; }
      .contenedor__chapas .plantillas img {
        height: 250px;
        width: 250px;
        padding: 3px; }
  /*contacto*/
  .box__contacto .box__contacto__redes h3 {
    font-size: 22px; }
  .box__contacto .box__contacto__redes .box__contacto__redes--iconos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px; }
  /*footer*/
  .bloque__footer .bloque__footer--titulo h2 {
    font-size: 40px; }
  .bloque__footer .bloque__footer--lista li {
    display: flex;
    flex-direction: column; }
  .bloque__footer .modal-header--titulo {
    text-align: left; }
  .bloque__footer .modal-body {
    font-size: 13px; }
    .bloque__footer .modal-body .card {
      padding: 0px;
      margin: 0px; }
      .bloque__footer .modal-body .card button {
        font-size: 14px;
        padding: 0px;
        margin: 0px; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  /*header*/
  .navbar-brand-aparecer {
    display: contents; }
  .navbar-nav {
    align-items: center; }
  /*General*/
  body {
    font-size: 20px; }
  /*index.html*/
  .seccion__introduccion .titulo__principal {
    margin-bottom: 0px; }
    .seccion__introduccion .titulo__principal h1 {
      font-size: 55px; }
  .seccion__introduccion .introduccion {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 10px; }
    .seccion__introduccion .introduccion .introduccion--texto {
      padding: 20px; }
    .seccion__introduccion .introduccion .introduccion--imagen img {
      height: 300px;
      width: 300px; }
  .seccion__productos {
    padding-bottom: 20px; }
    .seccion__productos .titulo__seccion {
      margin-bottom: 40px; }
      .seccion__productos .titulo__seccion h2 {
        font-size: 45px; }
    .seccion__productos .container__productos {
      box-shadow: none;
      padding: 0px; }
      .seccion__productos .container__productos .container__productos--box {
        box-shadow: 1px 1px 3px;
        padding: 10px;
        margin: 5px; }
        .seccion__productos .container__productos .container__productos--box .container__productos--imagen img {
          height: 300px;
          width: 300px; }
  .seccion__articulo .titulo__seccion {
    margin-bottom: 50px; }
    .seccion__articulo .titulo__seccion h2 {
      font-size: 45px; }
  .seccion__articulo .container__articulo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    background-color: #8cb929; }
    .seccion__articulo .container__articulo .container__articulo__texto {
      box-shadow: none; }
    .seccion__articulo .container__articulo .container__articulo__carousel {
      width: 300px; }
      .seccion__articulo .container__articulo .container__articulo__carousel .carousel-inner .carousel-item img {
        height: 300px; }
  /*conocenos.html*/
  .seccion__introduccion .container__intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    padding: 0px 20px; }
    .seccion__introduccion .container__intro--imagen img {
      height: 300px;
      width: 300px; }
  .seccion__infografia {
    padding-bottom: 20px; }
    .seccion__infografia .titulo__seccion {
      padding-bottom: 20px; }
      .seccion__infografia .titulo__seccion h2 {
        font-size: 45px; }
    .seccion__infografia .infografia {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr repeat(3, auto);
      grid-gap: 10px;
      padding: 0px 10px;
      margin-top: 0px; }
      .seccion__infografia .infografia .infografia__item {
        padding: 20px 10px; }
        .seccion__infografia .infografia .infografia__item h3 {
          font-size: 32px; }
        .seccion__infografia .infografia .infografia__item p {
          font-size: 25px; }
  /*productos*/
  .titulo__principal {
    margin-bottom: 0px; }
    .titulo__principal h1 {
      font-size: 55px; }
  .box__productos .titulo__seccion {
    margin: 10px 0px;
    padding-top: 0; }
    .box__productos .titulo__seccion h2 {
      font-size: 45px; }
  .box__productos__fundas {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-bottom: 20px; }
    .box__productos__fundas .box__productos__fundas--texto {
      text-align: center; }
    .box__productos__fundas .box__productos__fundas--imagen {
      justify-content: center; }
      .box__productos__fundas .box__productos__fundas--imagen img {
        height: 250px;
        width: 250px; }
    .box__productos__fundas .box__productos__chapas--texto {
      grid-row-start: 1;
      grid-row-end: 2; }
  .box__productos__chapas {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-bottom: 20px; }
    .box__productos__chapas .box__productos__chapas--texto {
      text-align: center; }
    .box__productos__chapas .box__productos__chapas--imagen {
      justify-content: center; }
      .box__productos__chapas .box__productos__chapas--imagen img {
        height: 250px;
        width: 250px; }
    .box__productos__chapas .box__productos__chapas--texto {
      grid-row-start: 1;
      grid-row-end: 2; }
  .box__productos__popsockets {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-bottom: 20px; }
    .box__productos__popsockets .box__productos__popsockets--texto {
      text-align: center; }
    .box__productos__popsockets .box__productos__popsockets--imagen {
      justify-content: center; }
      .box__productos__popsockets .box__productos__popsockets--imagen img {
        height: 250px;
        width: 250px; }
    .box__productos__popsockets .box__productos__chapas--texto {
      grid-row-start: 1;
      grid-row-end: 2; }
  /*galeria*/
  .contenedor__fundas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 1fr);
    grid-gap: 20px;
    padding: 0px 40px; }
    .contenedor__fundas .titulo__seccion {
      padding-top: 10px;
      grid-column-start: 1;
      grid-column-end: 2; }
      .contenedor__fundas .titulo__seccion h2 {
        font-size: 45px; }
    .contenedor__fundas .cactus h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .cactus img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .flores h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .flores img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .rock h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .rock img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .marmol h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .marmol img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .variado h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .variado img {
      height: 250px;
      width: 250px;
      padding: 3px; }
  .contenedor__chapas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0px 40px; }
    .contenedor__chapas .titulo__seccion {
      padding-top: 10px;
      grid-column-start: 1;
      grid-column-end: 2; }
      .contenedor__chapas .titulo__seccion h2 {
        font-size: 45px; }
    .contenedor__chapas .plantillas h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__chapas .plantillas img {
      height: 250px;
      width: 250px;
      padding: 3px; }
  /*contacto*/
  .box__contacto__redes h3 {
    font-size: 22px; }
  .box__contacto__redes--iconos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px; }
  /*footer*/
  .bloque__footer .bloque__footer--titulo h2 {
    font-size: 40px; }
  .bloque__footer .modal-header--titulo {
    text-align: left; }
  .bloque__footer .modal-body {
    font-size: 15px; }
    .bloque__footer .modal-body .card {
      padding: 0px;
      margin: 0px; }
      .bloque__footer .modal-body .card button {
        font-size: 18px;
        padding: 0px;
        margin: 0px; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*index.html*/
  .seccion__introduccion .titulo__principal {
    margin-bottom: 0px; }
    .seccion__introduccion .titulo__principal h1 {
      font-size: 60px; }
  .seccion__introduccion .introduccion {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 0px 15px; }
    .seccion__introduccion .introduccion .introduccion--texto {
      padding: 20px; }
    .seccion__introduccion .introduccion .introduccion--imagen img {
      height: 300px;
      width: 300px; }
  .seccion__productos {
    padding-bottom: 20px; }
    .seccion__productos .titulo__seccion {
      margin-bottom: 40px; }
      .seccion__productos .titulo__seccion h2 {
        font-size: 35px; }
    .seccion__productos .container__productos {
      box-shadow: none;
      padding: 0px; }
      .seccion__productos .container__productos .container__productos--box {
        box-shadow: 1px 1px 3px;
        padding: 10px;
        margin: 5px; }
        .seccion__productos .container__productos .container__productos--box .container__productos--imagen img {
          height: 300px;
          width: 300px; }
  .seccion__articulo .titulo__seccion {
    margin-bottom: 50px; }
    .seccion__articulo .titulo__seccion h2 {
      font-size: 45px; }
  .seccion__articulo .container__articulo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    background-color: #8cb929; }
    .seccion__articulo .container__articulo .container__articulo__texto {
      box-shadow: none; }
    .seccion__articulo .container__articulo .container__articulo__carousel {
      width: 350px; }
      .seccion__articulo .container__articulo .container__articulo__carousel .carousel-inner .carousel-item img {
        height: 350px; }
  /*conocenos.html*/
  .seccion__introduccion .container__intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    padding: 0px 80px; }
    .seccion__introduccion .container__intro--imagen img {
      height: 300px;
      width: 300px; }
  .seccion__infografia {
    padding-bottom: 20px; }
    .seccion__infografia .titulo__seccion {
      padding-bottom: 20px; }
      .seccion__infografia .titulo__seccion h2 {
        font-size: 45px; }
    .seccion__infografia .infografia {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto;
      grid-gap: 10px;
      padding: 0px 10px;
      margin-top: 0px; }
      .seccion__infografia .infografia .infografia__item {
        padding: 20px 10px; }
        .seccion__infografia .infografia .infografia__item h3 {
          font-size: 35px; }
        .seccion__infografia .infografia .infografia__item p {
          font-size: 25px; }
  /*productos*/
  .titulo__principal {
    margin-bottom: 0px; }
    .titulo__principal h1 {
      font-size: 60px; }
  .box__productos .titulo__seccion {
    margin: 10px 0px;
    padding-top: 0; }
    .box__productos .titulo__seccion h2 {
      font-size: 45px; }
  .box__productos__fundas {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-bottom: 20px; }
    .box__productos__fundas .box__productos__fundas--texto {
      text-align: center; }
    .box__productos__fundas .box__productos__fundas--imagen {
      justify-content: center; }
      .box__productos__fundas .box__productos__fundas--imagen img {
        height: 300px;
        width: 300px; }
    .box__productos__fundas .box__productos__chapas--texto {
      grid-row-start: 1;
      grid-row-end: 2; }
  /*galeria*/
  .contenedor__fundas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 1fr);
    grid-gap: 20px;
    padding: 0px 40px; }
    .contenedor__fundas .titulo__seccion {
      padding-top: 10px;
      grid-column-start: 1;
      grid-column-end: 2; }
      .contenedor__fundas .titulo__seccion h2 {
        font-size: 45px; }
    .contenedor__fundas .cactus h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .cactus img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .flores h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .flores img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .rock h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .rock img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .marmol h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .marmol img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .variado h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .variado img {
      height: 250px;
      width: 250px;
      padding: 3px; }
  .contenedor__chapas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0px 40px; }
    .contenedor__chapas .titulo__seccion {
      padding-top: 10px;
      grid-column-start: 1;
      grid-column-end: 2; }
      .contenedor__chapas .titulo__seccion h2 {
        font-size: 45px; }
    .contenedor__chapas .plantillas h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__chapas .plantillas img {
      height: 250px;
      width: 250px;
      padding: 3px; }
  .box__productos__chapas {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-bottom: 20px; }
    .box__productos__chapas .box__productos__chapas--texto {
      text-align: center; }
    .box__productos__chapas .box__productos__chapas--imagen {
      justify-content: center; }
      .box__productos__chapas .box__productos__chapas--imagen img {
        height: 300px;
        width: 300px; }
    .box__productos__chapas .box__productos__chapas--texto {
      grid-row-start: 1;
      grid-row-end: 2; }
  /*galeria*/
  .contenedor__fundas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 1fr);
    grid-gap: 20px;
    padding: 0px 40px; }
    .contenedor__fundas .titulo__seccion {
      padding-top: 10px;
      grid-column-start: 1;
      grid-column-end: 2; }
      .contenedor__fundas .titulo__seccion h2 {
        font-size: 45px; }
    .contenedor__fundas .cactus h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .cactus img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .flores h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .flores img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .rock h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .rock img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .marmol h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .marmol img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .variado h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .variado img {
      height: 250px;
      width: 250px;
      padding: 3px; }
  .contenedor__chapas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0px 40px; }
    .contenedor__chapas .titulo__seccion {
      padding-top: 10px;
      grid-column-start: 1;
      grid-column-end: 2; }
      .contenedor__chapas .titulo__seccion h2 {
        font-size: 45px; }
    .contenedor__chapas .plantillas h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__chapas .plantillas img {
      height: 250px;
      width: 250px;
      padding: 3px; }
  .box__productos__popsockets {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-bottom: 20px; }
    .box__productos__popsockets .box__productos__popsockets--texto {
      text-align: center; }
    .box__productos__popsockets .box__productos__popsockets--imagen {
      justify-content: center; }
      .box__productos__popsockets .box__productos__popsockets--imagen img {
        height: 300px;
        width: 300px; }
    .box__productos__popsockets .box__productos__chapas--texto {
      grid-row-start: 1;
      grid-row-end: 2; }
  /*galeria*/
  .contenedor__fundas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 1fr);
    grid-gap: 20px;
    padding: 0px 40px; }
    .contenedor__fundas .titulo__seccion {
      padding-top: 10px;
      grid-column-start: 1;
      grid-column-end: 2; }
      .contenedor__fundas .titulo__seccion h2 {
        font-size: 45px; }
    .contenedor__fundas .cactus h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .cactus img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .flores h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .flores img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .rock h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .rock img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .marmol h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .marmol img {
      height: 250px;
      width: 250px;
      padding: 3px; }
    .contenedor__fundas .variado h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__fundas .variado img {
      height: 250px;
      width: 250px;
      padding: 3px; }
  .contenedor__chapas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0px 40px; }
    .contenedor__chapas .titulo__seccion {
      padding-top: 10px;
      grid-column-start: 1;
      grid-column-end: 2; }
      .contenedor__chapas .titulo__seccion h2 {
        font-size: 45px; }
    .contenedor__chapas .plantillas h3 {
      margin: 10px 0px 30px 0px;
      padding: 8px;
      text-align: center;
      font-size: 35px;
      font-size: 32px; }
    .contenedor__chapas .plantillas img {
      height: 250px;
      width: 250px;
      padding: 3px; } }

@media screen and (min-width: 801px) {
  .formulario__800 {
    display: none; } }

@media screen and (max-width: 800px) {
  .formulario__801 {
    display: none; } }
