$fonttitle:'Baloo Bhaina 2', cursive;
$color1: #a3ce43;
$color2: #8cb929;

*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 1,5;
	font-size: 25px;
}
/*header*/
.header__logo{
	background-image: radial-gradient(circle at 45px 45px, $color1 0%, rgba(0, 0, 255, 0) 50%, $color2 95%);
	padding: 40px 0px 20px 0px; 
	text-align: center;
		&--sub h3{
			font-family: $fonttitle;
			color: #000;
			font-size: 27px;
			padding-top: 2px;
		}
}
.navbar{
	padding: 15px 0px;
}
.navbar-brand{
	font-size: 28px;    
}
.navbar-brand-desaparecer{
    display: none;
}
.navbar-nav{
	display: flex;
	justify-content: space-around;
	width: 100%;
    li a{
        color: #fff;
		font-size: 25px;
		&:hover{
			color: $color1;
			text-decoration: underline;
			}
		}
}
/*Contenido index.html*/
.seccion__introduccion{
	background-color: #fff;
	padding-bottom: 50px;
		.titulo__principal{
			padding-top: 50px;
			padding-bottom: 30px;
			font-family: $fonttitle;
			text-align: center;
				h1{
					font-size: 70px;
					color: black;
				}
		}
		.titulo__principal--animacion{
			animation-duration: 3s;
			animation-name: titulo;
		}
		@keyframes titulo{
			0% {
				opacity: 0;
			}
			50% {
				opacity: .7;
			}
			100% {
				opacity: 1;
			}
		}
		.introduccion{
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
			padding: 0px 40px;
				.introduccion--texto{
					padding: 50px;
					text-align: center;
					align-self: center;
					box-shadow: 2px 2px 8px;
					background-color: $color2;
				}
				.introduccion--imagen{
					box-shadow: 2px 2px 8px;
						img{
							height: 350px;
							width: 350px;
						}
				}
		}
}
.seccion__productos{
	background-color: $color1;
		.titulo__seccion{
			padding-top: 40px;
			text-align: center;
				h2{
					font-family: $fonttitle;
					font-size: 55px;
				}
		}
		.container__productos{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			flex-wrap: wrap;
			padding: 50px 0px;
				.container__productos--box{
					background-color: #fff;
					box-shadow: 2px 2px 8px;
						.container__productos--texto{
							text-align: center;
							font-size: 30px;
							padding-bottom: 20px;
						}
						.container__productos--imagen{
							padding: 20px;
						}
				}
				
		}
}
.seccion__articulo{
	background-color: #fff;
	padding: 50px 0px;
		.titulo__seccion{
			padding-top: 20px;
			text-align: center;
				h2{
					font-family: $fonttitle;
					font-size: 55px;
				}
		}	
		.container__articulo{
			display: grid;
			grid-template-columns: 1fr 1fr;
			padding: 15px;
			margin-top: 20px;
				.container__articulo__texto{
					padding: 15px;
					font-size: 22px;
					align-self: center;
					text-align: center;
					box-shadow: 2px 2px 8px;
					background-color: $color2;
						#links{
							text-decoration: none;
							color: black;
						}
				}
				.container__articulo__carousel{
					margin-bottom: 30px;
					box-shadow: 2px 2px 8px;
					padding: 0;
						.carousel-inner{
							box-shadow: 1px 1px 3px;
							background-color: #fff;
								.carousel-item{
										img{
											height: 400px;
											width: 400px;
											border: solid 1px #000;
										}
								}
						}
				}
		}
}

/*Contenido conocenos.html*/
.seccion__introduccion{
		.container__intro{
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
			padding: 0px 40px;
				&--texto{
					text-align: center;
					align-self: center;
					box-shadow: 2px 2px 8px;
					background-color: $color2;
				}
				&--imagen{
					box-shadow: 2px 2px 8px;
						img{
							height: 350px;
							width: 350px;
						}
				} 
		}
}
.seccion__infografia{
	background-color: $color1;
		.titulo__seccion{
			padding-top: 30px;
			text-align: center;
				h2{
					font-family: $fonttitle;
					font-size: 55px;
				}
		}
		.infografia{
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 30px;
			grid-row-gap: 50px;
			padding: 20px;
			margin-top: 40px;
			text-align: center;
			align-items: center;
			justify-content: center;
				&__item{
					background-color: #fff;
					box-shadow: 2px 2px 8px;
					padding: 20px;
						h3{
							font-family: $fonttitle;
							font-size: 40px;
						}
						&--listas{
							list-style-type: none;
						}
					}		
		}
}

/*Contenido productos.html*/
.titulo__principal{
	padding-top: 50px;
	padding-bottom: 30px;
	font-family: $fonttitle;
	text-align: center;
		h1{
			font-size: 70px;
			color: black;
		}
}
.titulo__principal--animacion{
	animation-duration: 3s;
	animation-name: titulo;
}
@keyframes titulo{
	0% {
		opacity: 0;
	}
	50% {
		opacity: .7;
	}
	100% {
		opacity: 1;
	}
}
		
.box__productos{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin-bottom: 20px;
		.titulo__seccion{
			margin: 30px 0px;
			padding-top: 10px;
			text-align: center;
				h2{
					font-family: $fonttitle;
					font-size: 55px;
				}
		}
		&__fundas{	
			display: grid;
			grid-template-columns: 60% 40%;
		}
		&__chapas{
			display: grid;
			grid-template-columns: 40% 60%;
		}
		&__popsockets{
			display: grid;
			grid-template-columns: 60% 40%;
		}
}
		@each $producto in fundas, chapas, popsockets{
				.box__productos__#{$producto}{
					background-color: $color1;
					box-shadow: 2px 2px 8px;
					padding: 15px;
					justify-items: center;
				}
		}
		@each $producto in fundas, chapas, popsockets{
				.box__productos__#{$producto}--texto{
					align-self: center;
						.viñetas{
							text-align: left;
						}
				}
		}	
		@each $producto in fundas, chapas, popsockets{
				.box__productos__#{$producto}--imagen img{
					border: double 1px #000;
					padding: 4px;
				}
		}


/*galeria.html*/
@mixin subtitulos {
	margin: 10px 0px 30px 0px;
	padding: 8px;
	text-align: center;
	font-size: 35px;
}
.contenedor__fundas{
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px repeat(3, 1fr);
	padding: 0px 40px;
	margin-bottom: 30px;
		.titulo__seccion{
			padding-top: 30px;
			text-align: center;
			grid-column-start: 1;
			grid-column-end: 3;
				h2{
					font-family: $fonttitle;
					font-size: 55px;
				}
		}
		@each $coleccion in cactus, flores, rock, marmol, variado{
			.#{$coleccion}{
				display: grid;
				grid-gap: 10px;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 80px 1fr 1fr;
				justify-items: center;
				box-shadow: 2px 2px 8px;
				padding: 20px;
				background-color: $color1;
					h3{
						@include subtitulos;
						grid-column-start: 1;
						grid-column-end: 3;
					}
					img{
						height: 250px;
						width: 250px;
						padding: 5px;
						background-color: #fff;
						box-shadow: 1px 1px 4px;
					}
			}
		}
}		
.contenedor__chapas{
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 1fr;
	padding: 0px 30px;
	margin-bottom: 30px;
		.titulo__seccion{
			padding-top: 30px;
			text-align: center;
			grid-column-start: 1;
			grid-column-end: 3;
				h2{
					font-family: $fonttitle;
					font-size: 55px;
				}
		}
		.plantillas{
			display: grid;
			grid-gap: 20px;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 80px 1fr 1fr;
			justify-items: center;
			box-shadow: 2px 2px 8px;
			padding: 20px;
			background-color: $color1;
				h3{
					@include subtitulos;
					grid-column-start: 1;
					grid-column-end: 3;
				}
				img{
					height: 250px;
					width: 250px;
					padding: 5px;
					box-sizing: 1px 1px 4px;
				}
		}
} 
/*contacto.html*/
.seccion__contacto{
	background-color: #fff;
	.box__contacto{
			&__redes{
				text-align: center;
					&--iconos{
						display: flex;
						flex-direction: row;
						justify-content: space-around;
						padding: 40px 100px;
							& li{
								list-style: none;
									& a{
										color: black;
										text-decoration: none;
									}
							}
					}
			}
	}
}
.formulario__801{
	background-color: #fff;
	padding: 30px 0px;
		.box__formulario{
			margin: 0px auto;
			box-shadow: 1px 1px 7px #000;
			background-color: $color1;
				.input-group--texto{
					font-size: 20px;
					padding: 5px;
					border: 1px inset $color2;
					background: #fff;
				}
				.form-select{
					transform: scale(1,0.8);
					background: #fff;
				}
				.form-control{
					border: 2px outset $color1;
					background-color: #fff;
				}
		}
}
		
.formulario__chico{
	margin: 20px auto;
	box-shadow: 1px 1px 3px;
	background-color: $color1;
		label{
			font-size: 23px;
		}
		input, textarea, option{
			font-size: 21px;
		}
		select{
			padding: 0px 3px;
		}
}
/*Footer*/
.bloque__footer{
	color: white;
		.bloque__footer--titulo h2{
			font-size: 45px;
		}
		.bloque__footer--lista ul li a{
			color: white;
			font-size: 25px;
		}
		.bloque__footer--lista ul li button{
			color: white;
			font-size: 25px;
		}
		.bloque__footer--lista ul li button:hover{
			text-decoration: none;
		}
		.modal-header{
			background-color: #000;
				.modal-header--titulo{
					color: #fff;
					font-size: 40px;
				}
		}
		.modal-body{
			background-color: #fff;
			color: #000;
			font-size: 18px;
				.card{
					background-color: $color1;
						button{
							background-color: $color2;
							color: #000;
							font-size: 20px;
						}
				}
		}
		.modal-footer{
			background-color: #000;
				button{
					font-size: 20px;
				}
		}
}
@media screen and (max-width: 575px){
	/*Header*/
	.navbar-brand-aparecer{
		display: contents;
	}
	.navbar-nav{
		align-items: center;
	}
	.header__logo{
			img{
				height: 160px;
			}
			h3{
				font-size: 20px;
			}
	}
	/*General*/
	body{
		font-size: 20px;
	}
	/*index.html*/
	.seccion__introduccion{
		.titulo__principal {
			margin-bottom: 0px;
				h1{
					font-size: 42px;
				}
		}
		.introduccion{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			grid-gap: 10px;
			padding: 0;
				.introduccion--texto{
					padding: 20px;
				}
				.introduccion--imagen{
						img{
							height: 300px;
							width: 300px;
						}
				}		
		}
	}
	.seccion__productos{
		padding-bottom: 20px;
			.titulo__seccion{
				margin-bottom: 40px;
				h2{
					font-size: 35px;
				}
			}
			.container__productos{
				box-shadow: none;
				padding: 0px;
					.container__productos--box{
						box-shadow: 1px 1px 3px;
						padding: 10px;
						margin: 5px;
							.container__productos--imagen{
								img{
									height: 300px;
									width: 300px;
								}
							}
					}	
			}
	}
	.seccion__articulo{
		.titulo__seccion{
			margin-bottom: 50px;
			h2{
				font-size: 35px;
			}
		}
		.container__articulo{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			grid-gap: 10px;
			background-color: $color2;
				.container__articulo__texto{
					box-shadow: none;
				}
				.container__articulo__carousel{
					width: 300px;
					.carousel-inner{
						.carousel-item{
							img{
								height: 300px;
							}
						}
					}
				}
		}
	}
	
	/*conocenos.html*/
	.seccion__introduccion{
		.container__intro{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			grid-gap: 10px;
			padding: 0px 20px;
				&--imagen{
					img{
						height: 300px;
						width: 300px;
					}
				}
		}
	}
	.seccion__infografia{
		padding-bottom: 20px;
		.titulo__seccion{
			padding-bottom: 20px;
			h2{
				font-size: 35px;
			}
		}
		.infografia{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr repeat(3, auto);
			grid-gap: 10px;
			padding: 0px 10px;
			margin-top: 0px;
				.infografia__item{
					padding: 20px 10px;
					h3{
						font-size: 28px;
					}
					p{
						font-size: 22px;
					}
				}
		}
	}
	/*productos*/
	.titulo__principal {
		margin-bottom: 0px;
			h1{
				font-size: 42px;
			}
	}
	.box__productos{
		.titulo__seccion{
			margin: 10px 0px;
			padding-top: 0;
			h2{
				font-size: 35px;
			}
		}
	}
	@each $producto in fundas, chapas, popsockets{
		.box__productos__#{$producto}{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			justify-content: center;
			margin-bottom: 20px;
			.box__productos__#{$producto}--texto{
				text-align: center;
			}
			.box__productos__#{$producto}--imagen{
				justify-content: center;
					img{
						height: 250px;
						width: 250px;
					}
			}
			.box__productos__chapas--texto{
				grid-row-start: 1;
				grid-row-end: 2;
			}
		}
	}
	/*galeria*/
	.contenedor__fundas{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto repeat(6, 1fr);
		grid-gap: 10px;
		padding: 0px 20px;
			.titulo__seccion{
				padding-top: 10px;
				grid-column-start: 1;
				grid-column-end: 2;
					h2{
						font-size: 35px;
					}
			}
			@each $coleccion in cactus, flores, rock, marmol, variado{
				.#{$coleccion}{
					display: grid;
					grid-gap: 8px;
					grid-template-columns: 1fr;
					grid-template-rows: auto repeat(4, 1fr);
					justify-items: center;
					box-shadow: 1px 1px 4px;
					padding: 10px;
						h3{
							@include subtitulos;
							grid-column-start: 1;
							grid-column-end: 2;
							font-size: 28px;
						}
						img{
							height: 250px;
							width: 250px;
							padding: 3px;
						}
				}
			}
	}
	.contenedor__chapas{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto repeat(2, 1fr);
		grid-gap: 10px;
		padding: 0px 20px;
			.titulo__seccion{
				padding-top: 10px;
				grid-column-start: 1;
				grid-column-end: 2;
					h2{
						font-size: 35px;
					}
			}
			.plantillas{
				display: grid;
					grid-gap: 8px;
					grid-template-columns: 1fr;
					grid-template-rows: auto repeat(4, 1fr);
					justify-items: center;
					box-shadow: 1px 1px 4px;
					padding: 10px;
						h3{
							@include subtitulos;
							grid-column-start: 1;
							grid-column-end: 2;
							font-size: 28px;
						}
						img{
							height: 250px;
							width: 250px;
							padding: 3px;
						}
			}
	}
	/*contacto*/
	.box__contacto{
			&__redes{
				h3{
					font-size: 22px;	
				}
					&--iconos{
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						padding: 10px;
					}
			}
	}
	/*footer*/
	.bloque__footer{
		.bloque__footer--titulo h2{
			font-size: 40px;
		}
		.bloque__footer--lista{
			li{
				display: flex;
				flex-direction: column;
			}
		}
		.modal-header--titulo{
			text-align: left;
		}
		.modal-body{
			font-size: 13px;
				.card{
					padding: 0px;
					margin: 0px;
						button{
							font-size: 14px;
							padding: 0px;
							margin: 0px;
						}	
				} 
		}
	}
}
@media screen and (min-width: 576px) and (max-width: 767px){
	/*header*/
	.navbar-brand-aparecer{
		display: contents;
	}
	.navbar-nav{
		align-items: center;
	}
	/*General*/
	body{
		font-size: 20px;
	}
	/*index.html*/
	.seccion__introduccion{
		.titulo__principal {
			margin-bottom: 0px;
				h1{
					font-size: 55px;
				}
		}
		.introduccion{
			display: grid;
			grid-template-columns: 1fr auto;
			grid-template-rows: 1fr;
			grid-gap: 10px;
			padding: 10px;
				.introduccion--texto{
					padding: 20px;
				}
				.introduccion--imagen{
						img{
							height: 300px;
							width: 300px;
						}
				}		
		}
	}
	.seccion__productos{
		padding-bottom: 20px;
			.titulo__seccion{
				margin-bottom: 40px;
				h2{
					font-size: 45px;
				}
			}
			.container__productos{
				box-shadow: none;
				padding: 0px;
					.container__productos--box{
						box-shadow: 1px 1px 3px;
						padding: 10px;
						margin: 5px;
							.container__productos--imagen{
								img{
									height: 300px;
									width: 300px;
								}
							}
					}	
			}
	}
	.seccion__articulo{
		.titulo__seccion{
			margin-bottom: 50px;
			h2{
				font-size: 45px;
			}
		}
		.container__articulo{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			grid-gap: 10px;
			background-color: $color2;
				.container__articulo__texto{
					box-shadow: none;
				}
				.container__articulo__carousel{
					width: 300px;
					.carousel-inner{
						.carousel-item{
							img{
								height: 300px;
							}
						}
					}
				}
		}
	}
	/*conocenos.html*/
	.seccion__introduccion{
		.container__intro{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			grid-gap: 10px;
			padding: 0px 20px;
				&--imagen{
					img{
						height: 300px;
						width: 300px;
					}
				}
		}
	}
	.seccion__infografia{
		padding-bottom: 20px;
		.titulo__seccion{
			padding-bottom: 20px;
			h2{
				font-size: 45px;
			}
		}
		.infografia{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr repeat(3, auto);
			grid-gap: 10px;
			padding: 0px 10px;
			margin-top: 0px;
				.infografia__item{
					padding: 20px 10px;
					h3{
						font-size: 32px;
					}
					p{
						font-size: 25px;
					}
				}
		}
	}
	/*productos*/
	.titulo__principal {
		margin-bottom: 0px;
			h1{
				font-size: 55px;
			}
	}
	.box__productos{
		.titulo__seccion{
			margin: 10px 0px;
			padding-top: 0;
			h2{
				font-size: 45px;
			}
		}
	}
	@each $producto in fundas, chapas, popsockets{
		.box__productos__#{$producto}{
			display: grid;
			grid-template-columns: 1fr auto;
			grid-template-rows: 1fr;
			justify-content: center;
			margin-bottom: 20px;
			.box__productos__#{$producto}--texto{
				text-align: center;
			}
			.box__productos__#{$producto}--imagen{
				justify-content: center;
					img{
						height: 250px;
						width: 250px;
					}
			}
			.box__productos__chapas--texto{
				grid-row-start: 1;
				grid-row-end: 2;
			}
		}
	}
	/*galeria*/
	.contenedor__fundas{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto repeat(6, 1fr);
		grid-gap: 20px;
		padding: 0px 40px;
			.titulo__seccion{
				padding-top: 10px;
				grid-column-start: 1;
				grid-column-end: 2;
					h2{
						font-size: 45px;
					}
			}
			@each $coleccion in cactus, flores, rock, marmol, variado{
				.#{$coleccion}{
						h3{
							@include subtitulos;
							font-size: 32px;
						}
						img{
							height: 250px;
							width: 250px;
							padding: 3px;
						}
				}
			}
	}
	.contenedor__chapas{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto repeat(2, 1fr);
		grid-gap: 20px;
		padding: 0px 40px;
			.titulo__seccion{
				padding-top: 10px;
				grid-column-start: 1;
				grid-column-end: 2;
					h2{
						font-size: 45px;
					}
			}
			.plantillas{
				h3{
					@include subtitulos;
					font-size: 32px;
				}
				img{
					height: 250px;
					width: 250px;
					padding: 3px;
				}
			}
	}
	/*contacto*/
	.box__contacto{
			&__redes{
				h3{
					font-size: 22px;	
				}
					&--iconos{
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						padding: 10px;
					}
			}
	}
	/*footer*/
	.bloque__footer{
		.bloque__footer--titulo h2{
			font-size: 40px;
		}
		.modal-header--titulo{
			text-align: left;
		}
		.modal-body{
			font-size: 15px;
				.card{
					padding: 0px;
					margin: 0px;
						button{
							font-size: 18px;
							padding: 0px;
							margin: 0px;
						}	
				} 
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px){
	/*index.html*/
	.seccion__introduccion{
		.titulo__principal {
			margin-bottom: 0px;
				h1{
					font-size: 60px;
				}
		}
		.introduccion{
			display: grid;
			grid-template-columns: auto 1fr;
			grid-template-rows: 1fr;
			grid-gap: 10px;
			padding: 0px 15px;
				.introduccion--texto{
					padding: 20px;
				}
				.introduccion--imagen{
						img{
							height: 300px;
							width: 300px;
						}
				}		
		}
	}
	.seccion__productos{
		padding-bottom: 20px;
			.titulo__seccion{
				margin-bottom: 40px;
				h2{
					font-size: 35px;
				}
			}
			.container__productos{
				box-shadow: none;
				padding: 0px;
					.container__productos--box{
						box-shadow: 1px 1px 3px;
						padding: 10px;
						margin: 5px;
							.container__productos--imagen{
								img{
									height: 300px;
									width: 300px;
								}
							}
					}	
			}
	}
	.seccion__articulo{
		.titulo__seccion{
			margin-bottom: 50px;
			h2{
				font-size: 45px;
			}
		}
		.container__articulo{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			grid-gap: 10px;
			background-color: $color2;
				.container__articulo__texto{
					box-shadow: none;
				}
				.container__articulo__carousel{
					width: 350px;
					.carousel-inner{
						.carousel-item{
							img{
								height: 350px;
							}
						}
					}
				}
		}
	}
	/*conocenos.html*/
	.seccion__introduccion{
		.container__intro{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
			grid-gap: 20px;
			padding: 0px 80px;
				&--imagen{
					img{
						height: 300px;
						width: 300px;
					}
				}
		}
	}
	.seccion__infografia{
		padding-bottom: 20px;
		.titulo__seccion{
			padding-bottom: 20px;
			h2{
				font-size: 45px;
			}
		}
		.infografia{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr auto;
			grid-gap: 10px;
			padding: 0px 10px;
			margin-top: 0px;
				.infografia__item{
					padding: 20px 10px;
					h3{
						font-size: 35px;
					}
					p{
						font-size: 25px;
					}
				}
		}
	}
	/*productos*/
	.titulo__principal {
		margin-bottom: 0px;
			h1{
				font-size: 60px;
			}
	}
	.box__productos{
		.titulo__seccion{
			margin: 10px 0px;
			padding-top: 0;
			h2{
				font-size: 45px;
			}
		}
	}
	@each $producto in fundas, chapas, popsockets{
		.box__productos__#{$producto}{
			display: grid;
			grid-template-columns: 1fr auto;
			grid-template-rows: 1fr;
			justify-content: center;
			margin-bottom: 20px;
			.box__productos__#{$producto}--texto{
				text-align: center;
			}
			.box__productos__#{$producto}--imagen{
				justify-content: center;
					img{
						height: 300px;
						width: 300px;
					}
			}
			.box__productos__chapas--texto{
				grid-row-start: 1;
				grid-row-end: 2;
			}
		}
		/*galeria*/
		.contenedor__fundas{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto repeat(6, 1fr);
			grid-gap: 20px;
			padding: 0px 40px;
				.titulo__seccion{
					padding-top: 10px;
					grid-column-start: 1;
					grid-column-end: 2;
						h2{
							font-size: 45px;
						}
				}
				@each $coleccion in cactus, flores, rock, marmol, variado{
					.#{$coleccion}{
							h3{
								@include subtitulos;
								font-size: 32px;
							}
							img{
								height: 250px;
								width: 250px;
								padding: 3px;
							}
					}
				}
		}
		.contenedor__chapas{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto repeat(2, 1fr);
			grid-gap: 20px;
			padding: 0px 40px;
				.titulo__seccion{
					padding-top: 10px;
					grid-column-start: 1;
					grid-column-end: 2;
						h2{
							font-size: 45px;
						}
				}
				.plantillas{
					h3{
						@include subtitulos;
						font-size: 32px;
					}
					img{
						height: 250px;
						width: 250px;
						padding: 3px;
					}
				}
		}
	}
}
@media screen and (min-width: 801px){
	.formulario__800{
		display: none;
	}
}
@media screen and (max-width: 800px){
	.formulario__801{
		display: none;
	}
}